---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astral">
    <main class="min-h-screen antialiased overflow-hidden relative">
        <div class="container mx-auto max-w-screen-xl">
            <div class="flex items-center justify-between mb-8 mt-10 mx-4 m-2">
                <div class="flex justify-center">
                    <a href="#" class="font-medium text-lg text-slate-900">Astral</a>
                </div>
                <nav class="md:flex gap-8">
                    <a class="flex items-end text-base font-normal leading-tight tracking-wide text-slate-800" href="#">
                        Solutions
                    </a>
                    <a class="flex items-end text-base font-normal leading-tight tracking-wide text-slate-800" href="#">
                        Integrations
                    </a>
                    <a class="flex items-end text-base font-normal leading-tight tracking-wide text-slate-800" href="#">
                        Pricing
                    </a>
                    <a class="flex items-end text-base font-normal leading-tight tracking-wide text-slate-800" href="#">
                        Resources
                    </a>
                    <a class="flex items-end text-base font-normal leading-tight tracking-wide text-slate-800" href="#">
                        Company
                    </a>
                    <div class="ml-20 flex flex-row gap-8">
                        <a class="flex items-end text-base font-medium leading-tight text-slate-800" href="#">
                            Login
                        </a>
                        <a class="flex items-end text-base font-medium leading-tight text-slate-800" href="#">
                            Start for Free
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container mx-auto max-w-screen-x flex flex-row gap-4">
            <header class="pt-32 pb-10 relative mx-8">
                <div class="flex flex-col gap-6 max-w-lg">
                    <h1 class="text-4xl text-slate-900 font-bold leading-snug">
                        Interstellar Engineering. Right Here on Earth.
                    </h1>
                    <p class="text-base text-slate-800 font-normal leading-snug">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ducimus rem consequatur
                        eveniet aut placeat temporibus fuga doloremque vero, repellendus enim quam voluptatum!
                    </p>
                    <div class="mt-8">
                        <a href="#" class="bg-blue-100 text-slate-800 font-medium leading-snug py-3 px-6 rounded-md"
                            >Get Started</a
                        >
                    </div>
                </div>
            </header>
            <div class="pt-16 flex flex-row gap-6">
                <div class="flex flex-col gap-4">
                    <img src="https://placehold.co/300x300" alt="Astral" class="rounded-md w-[300px] h-auto" />
                    <img src="https://placehold.co/300x200" alt="Astral" class="rounded-md w-[300px] h-auto" />
                </div>
                <div>
                    <img src="https://placehold.co/600x520" alt="Astral" class="rounded-md w-[600px] h-auto" />
                </div>
            </div>
        </div>
        <div class="container mx-auto max-w-screen-x flex flex-row items-center justify-center text-center gap-4">
            <div class="pt-44 pb-44">
                <h2 class="text-2xl text-slate-900 tracking-tight font-bold leading-snug">
                    Trusted by the world's most innovative companies.
                </h2>
                <div class="pt-20 flex flex-row gap-28 items-center justify-center grayscale">
                    <svg aria-label="Vercel logotype" height="28" role="img" viewBox="0 0 283 64" width="100"
                        ><path
                            d="M141.68 16.25c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm117.14-14.5c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm-39.03 3.5c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9v-46h9zM37.59.25l36.95 64H.64l36.95-64zm92.38 5l-27.71 48-27.71-48h10.39l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10v14.8h-9v-34h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                            fill="black"></path></svg
                    >
                    <svg aria-label="Vercel logotype" height="28" role="img" viewBox="0 0 283 64" width="100"
                        ><path
                            d="M141.68 16.25c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm117.14-14.5c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm-39.03 3.5c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9v-46h9zM37.59.25l36.95 64H.64l36.95-64zm92.38 5l-27.71 48-27.71-48h10.39l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10v14.8h-9v-34h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                            fill="black"></path></svg
                    >
                    <svg aria-label="Vercel logotype" height="28" role="img" viewBox="0 0 283 64" width="100"
                        ><path
                            d="M141.68 16.25c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm117.14-14.5c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm-39.03 3.5c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9v-46h9zM37.59.25l36.95 64H.64l36.95-64zm92.38 5l-27.71 48-27.71-48h10.39l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10v14.8h-9v-34h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                            fill="black"></path></svg
                    >
                    <svg aria-label="Vercel logotype" height="28" role="img" viewBox="0 0 283 64" width="100"
                        ><path
                            d="M141.68 16.25c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm117.14-14.5c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm-39.03 3.5c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9v-46h9zM37.59.25l36.95 64H.64l36.95-64zm92.38 5l-27.71 48-27.71-48h10.39l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10v14.8h-9v-34h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                            fill="black"></path></svg
                    >
                    <svg aria-label="Vercel logotype" height="28" role="img" viewBox="0 0 283 64" width="100"
                        ><path
                            d="M141.68 16.25c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm117.14-14.5c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zm-39.03 3.5c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9v-46h9zM37.59.25l36.95 64H.64l36.95-64zm92.38 5l-27.71 48-27.71-48h10.39l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10v14.8h-9v-34h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                            fill="black"></path></svg
                    >
                </div>
            </div>
        </div>
        <div class="container mx-auto max-w-screen-x flex flex-col gap-4">
            <div class="pt-8 pb-12 max-w-2xl">
                <h3 class="text-3xl font-bold leading-snug tracking-tight">
                    Capture the power of the cosmos with Astral's suite of products and services.
                </h3>
            </div>
            <div class="grid grid-cols-3 grid-rows-2 gap-6 pb-44">
                <div class="bg-blue-200 rounded-sm row-span-2">
                    <div class="m-4">
                        <h4 class="text-2xl mb-4 font-bold leading-snug tracking-tight">Astral Cloud</h4>
                        <p class="text-base font-normal leading-snug">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ducimus rem consequatur
                            eveniet aut placeat temporibus fuga doloremque vero, repellendus enim quam voluptatum!
                        </p>
                    </div>
                </div>
                <div class="bg-blue-200 rounded-sm col-span-2 col-start-2 row-start-2">
                    <div class="m-4">
                        <h4 class="text-2xl mb-4 font-bold leading-snug tracking-tight">Astral Edge</h4>
                        <p class="text-base font-normal leading-snug">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ducimus rem consequatur
                            eveniet aut placeat temporibus fuga doloremque vero, repellendus enim quam voluptatum!
                        </p>
                    </div>
                </div>
                <div class="bg-blue-200 rounded-sm col-start-2 row-start-1">
                    <div class="m-4">
                        <h4 class="text-2xl mb-4 font-bold leading-snug tracking-tight">Astral Gateway</h4>
                        <p class="text-base font-normal leading-snug">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ducimus rem consequatur
                            eveniet aut placeat temporibus fuga doloremque vero, repellendus enim quam voluptatum!
                        </p>
                    </div>
                </div>
                <div class="bg-blue-200 rounded-sm col-start-3 row-start-1">
                    <div class="m-4">
                        <h4 class="text-2xl mb-4 font-bold leading-snug tracking-tight">Astral Core</h4>
                        <p class="text-base font-normal leading-snug">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ducimus rem consequatur
                            eveniet aut placeat temporibus fuga doloremque vero, repellendus enim quam voluptatum!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto max-w-screen-x flex flex-col gap-4">
            <div class="bg-slate-950 rounded-md pt-44 pb-44 flex items-center justify-center">
                <div class="text-center flex items-center justify-center flex-col gap-4">
                    <h4 class="text-slate-100 tracking-tight leading-snug text-4xl font-semibold">
                        Join the Astral community and start building the future today.
                    </h4>
                    <p class="text-slate-300 tracking-tight leading-snug text-base max-w-3xl">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni culpa distinctio voluptate
                        fugiat nostrum, autem voluptatem minima aliquid temporibus quidem saepe consectetur deleniti!
                        Veritatis sed incidunt amet inventore?
                    </p>
                </div>
            </div>
        </div>
        <div class="container mx-auto max-w-screen-x flex flex-col gap-4">
            <div class="pt-44 pb-12 max-w-xl">
                <h3 class="text-3xl font-bold leading-snug tracking-tight">
                    Services made easy and accessible for everyone.
                </h3>
            </div>
            <div class="pb-44">
                <div>
                    <div class="bg-blue-200 rounded-sm pb-72">
                        <div class="m-4">
                            <h4 class="text-2xl pt-4 mb-4 font-bold leading-snug tracking-tight">
                                Say goodbye to complex infrastructure
                            </h4>
                            <p class="text-base pb-4 font-normal leading-snug">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus quam dolor ratione
                                ducimus odit, culpa vel cum exercitationem aliquid iste accusantium doloribus
                                distinctio. Provident iste officiis soluta delectus alias maxime hic ipsam voluptatibus
                                blanditiis similique libero quam amet numquam pariatur nisi fugit, eaque tempore?
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row mt-8">
                        <div class="border-t border-b border-l rounded-l-md">
                            <div class="m-4">
                                <h5
                                    class="uppercase text-base text-slate-900 tracking-tight leading-snug mt-24 mb-8 font-semibold"
                                >
                                    Collaborate with your team and build faster with Astral's suite of products
                                </h5>
                                <p class="text-sm text-slate-700 tracking-tight leading-snug">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae sunt totam quam
                                    ad, quae molestiae sequi deserunt commodi, voluptate mollitia ullam quia delectus
                                    laudantium incidunt accusantium amet voluptas dolore repellat?
                                </p>
                            </div>
                        </div>
                        <div class="border-t border-b border-l border-r">
                            <div class="m-4">
                                <h5
                                    class="uppercase text-base text-slate-900 tracking-tight leading-snug mt-24 mb-8 font-semibold"
                                >
                                    Edit your code and deploy your projects with ease using Astral's suite of products
                                </h5>
                                <p class="text-sm text-slate-700 tracking-tight leading-snug">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae sunt totam quam
                                    ad, quae molestiae sequi deserunt commodi, voluptate mollitia ullam quia delectus
                                    laudantium incidunt accusantium amet voluptas dolore repellat?
                                </p>
                            </div>
                        </div>
                        <div class="border-t border-b border-r rounded-r-md">
                            <div class="m-4">
                                <h5
                                    class="uppercase text-base text-slate-900 tracking-tight leading-snug mt-24 mb-8 font-semibold"
                                >
                                    Publish your projects with confidence using Astral's suite of products
                                </h5>
                                <p class="text-sm text-slate-700 tracking-tight leading-snug">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae sunt totam quam
                                    ad, quae molestiae sequi deserunt commodi, voluptate mollitia ullam quia delectus
                                    laudantium incidunt accusantium amet voluptas dolore repellat?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
